python-vlc==3.0.18122
yandex_music==2.1.0
gunicorn==20.1.0
paste==3.5.0
deploy==1.9.1
pastedeploy==2.1.1
pystray==0.19.5
shyaml==0.6.2
notify-py==0.3.3
selenium==4.6.0
webdriver_manager==3.7.0
pynput==1.7.6
Pillow==8.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
