frontend:
  port: 7777
  is_open_browser_at_startup: false
  is_develop: false
backend:
  port: 7778
  is_accept_outside_query: false
  default_station: "user:onyourwave"
  proxy:
    enabled: false
    adress: ""
    port: 1234
    user: ""
    password: ""
